body {
    background: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    margin-left: 30px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

footer p {
    font-size: 10px;
}

.wrapper ul {
    list-style: none;
    float: left;
    width: 100%;
    margin: 10px 0px 10px;
    padding: 0px 0px ;
}

.wrapper ul li {
    display: inline;
    margin: 4px 4px 4px 4px;
}

.wrapper ul li a {
    display: inline-block;
    padding: 3px 2px 2px 2px;
    
}

.wrapper ul li a:hover {
    background-color: lightgrey;
    border-radius: 3em;
    
}